<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.product %></h2>
    <div class="content">
        <p><%= blog.description %></p>
        <p><%= blog.price %></p>
        <p><%= blog.VAT %></p>
        <p><%= blog.shipping %></p>
        <p><%= blog.brand %></p>
    </div>
    <p>
        <a  class="addToCard" href="/api/v1/products/<%= blog._id %>/addToCard">Add to Card</a>
    </p>
    <a class="delete" data-doc="<%= blog._id %>">delete</a>
  </div>


    <%- include("./partials/footer.ejs") %>
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/api/v1/products/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>
</body>
</html>
