<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>My Card</h2>

<div>
  <% if (products.length > 0) { %>
    <% products.forEach(product => { %>
        <h3 class="title"><%= product.product %></h3> 
        <p class="snippet"><%= product.quantity %></p>
      
      <hr>
    <% }) %>
  <% } else { %>
    <p>There are no products in your Card...</p>
  <% } %>
</div>


    <%- include("./partials/footer.ejs") %>
</body>
</html>